{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block heading %}About Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p> Cloud Box is a project developed by 4 students at West Chester University of Pennsylvania for Technica 2023.
        </p>
    </div>
    <div>
        <p>Contributions:
        <p>
        <ul>
            <li>Heather Cassel: Front-end HTML, logo design, content addition</li>
            <li>Ben Crocker: Set up GitHub, back-end Django web service, styling.</li>
            <li>Maura Kosek: Front-end HTML, icon selection/addition, content addition.</li>
            <li>Ellis Weaver-Kreider: GCP interactions, deployment </li>
        </ul>
    </div>
    <div class="row">
        <p>Our project was created with <a target="_blank" rel="noopener"
                href="https://www.djangoproject.com/">Django</a>, <a href="https://getbootstrap.com/" target="_blank"
                rel="noopener">Bootstrap</a>, <a target="_blank" rel="noopener"
                href="https://cloud.google.com/compute/">Google Cloud Compute</a>, and web technologies.</p>
    </div>
    <div class="row">
        <p>Our project utilizes <a href="https://gcloud-compute.com/northamerica-northeast2.html" rel="noopener"
                target="_blank">Carbon-friendly data-centers</a> located in Toronto, Canada.</p>
    </div>
</div>
{% endblock %}