{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block heading %}About Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p> Cloud Box is a project developed by 4 students at West Chester University of Pennsylvania for Technica 2023.</p>
    </div>
    <div>
        <p>Contributions:<p>
        <ul>
            <li>Heather Cassel: Front-end HTML, logo design, content addition</li> 
            <li>Ben Crocker: Set up GitHub, back-end Django web service, styling.</li>
            <li>Maura Kosek: Front-end HTML, icon selection/addition, content addition.</li>
            <li>Ellis Weaver-Kreider: GCP interactions, deployment </li> 
        </ul>
    </div>
    <div class="row">
        <p>Our project was created with Django, Bootstrap, Google Cloud, and web technologies.</p>
    </div>
</div>
{% endblock %}